.btn-search,
.btn-more
  height: 45px
  padding: 0 10px !important
  margin: 10px 0 20px 0 !important

button
  background-color: #625772
  color: #ffffff !important

.btn-dismiss
  float: right
  height: 49px
  padding: 3px !important
  margin-top: -22px !important
