$pink: #F9A1BC

.item
  border: 1.8px solid #C2C2C2
  border-radius: 5px
  background-color: #FFFBF3
  color: $pink
  height: 50px
  margin: 5px !important
  span
    margin: 0 5px !important

.title
  a
    &:hover
      color: #625772

.info
  a
    color: $pink
    text-decoration: none !important
    &:hover
      color: $pink
