.search
  margin: 0 auto !important
.form-control::-webkit-input-placeholder
  text-align: center

.form-control:-moz-placeholder
  text-align: center

.form-control::-moz-placeholder
  text-align: center

.form-control:-ms-input-placeholder
  text-align: center
